<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mk-facebook" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mk-facebook</name>
    <js-module name="mk-facebook" src="www/mk-facebook.js">
        <clobbers target="cordova.plugins.mk-facebook" />
    </js-module>
</plugin>
